Landing page
<br>
Just show some stuff


<!-- <canvas #myCanvas
   [attr.width]='100'
   [attr.height]='100'
   [attr.fillstyle] = 'FF0000'></canvas> -->
<!-- <canvas #myCanvas width="400" height="400" style="background:lightgray;"></canvas> -->

<!-- --------------------------------------------------------------------------- -->

<!-- <hr>
<div class="c">
  <div class="icon">
    <img src="assets/navicon/big-dipper.png" alt="Landing" width="30" height="30">
  </div>
  <div class="content">
    Time Distortion
  </div>
</div> -->
<!-- <div id="box">
   Time Distortion
</div> -->
<!-- <button id="box" type="button" routerLink="/landing"><img src="assets/navicon/big-dipper.png" alt="Landing" width="25" height="25"> Landing</button>
<br>
<button type="button" routerLink="/time-distortion"><img src="assets/navicon/black-hole.png" alt="Time Distortion" width="25" height="25"> Time Distortion</button>
<br>
<button type="button" routerLink="/shipyard"><img src="assets/navicon/nasa.png" alt="Shipyard" width="25" height="25">Shipyard</button> -->
