<div class="container well well-sm">
  <div routerLink="/landing">
    <div class="content1 content">
      <img src="assets/navicon/lander-1.png" alt="Landing" style="height: 100%; width: 100%; object-fit: contain">
    </div>
    <div class="content2 content">
      Landing
    </div>
  </div>
<div routerLink="/time-distortion">
  <div class="content1 content">
    <img src="assets/navicon/big-dipper.png" alt="Landing" style="height: 100%; width: 100%; object-fit: contain">
  </div>
  <div class="content2 content">
    Time Distortion
  </div>
</div>
<div routerLink="/shipyard">
  <div class="content1 content">
    <img src="assets/navicon/nasa.png" alt="Landing" style="height: 100%; width: 100%; object-fit: contain">
  </div>
  <div class="content2 content">
    Shipyard
  </div>
  </div>
</div>
