<!--The content below is only a placeholder and can be replaced.-->
<!-- <link rel="icon" type="image/png" href="favicon.png" /> -->

<!-- <div class="" -->
<!-- <app-header></app-header>

<div id="main-wrap">
	<div id="sidebar"><app-side-bar></app-side-bar></div>
	<div id="content-wrap"><router-outlet></router-outlet></div>
</div>

<!-- <div id="footer"><app-footer></app-footer></div> -->
<!-- <footer class="footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
</footer> -->
<app-header></app-header>
<div class="container-fluid text-center">
  <router-outlet></router-outlet>
  <!-- <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div> -->
</div>

<footer class="navbar navbar-inverse footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
</footer>
